    <!-- Start Top Header Bar -->


    <section class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <!-- Search -->    <div class="col-xs-12" style="height:10px;"></div> 
                    <div class="col-md-10">
                        <a href="{% url 'index' %}">
                            <!-- replace logo here -->
                            <svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
                                    font-family="AustinBold, Austin" font-weight="bold">
                                    <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                                        <text id="LOJA10">
                                            <tspan x="108.94" y="325">LOJA10</tspan>
                                        </text>
                                    </g>
                                </g>
                            </svg>
                        </a>


                    </div><!-- / Search -->
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <!-- Site Logo -->
                    <div class="logo text-center">
                        <form method="POST" action="{% url 'search' %}">
                            {% csrf_token %}
                            <input type="search" class="form-control" type="search" name="searched" placeholder="Procura...">
                        </form>
                        
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <!-- Cart -->
                    <ul class="top-menu text-end list-inline">
                        <div class="col-xs-12" style="height:10px;"></div> 
                        <li class="list-inline-item">
                            {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="toggle">
                                <i class="tf-door-open"></i>Sair</a>

                            {% else %}
                            <a href="http://127.0.0.1:8000/accounts/login/" class="toggle">
                                <i class="tf-ion-android-person"></i>Entrar</a>
                            {% endif %}

                        </li>
                        <li class="dropdown cart-nav dropdown-slide list-inline-item">
                            {% include 'menu_cart.html' %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
                                    class="tf-ion-android-cart"></i>Carrinho</a>
                            <div class="dropdown-menu cart-dropdown">
    
                                <!-- Cart Item 

                                <div class="media">
                                    <a class="pull-left" href="#!">
                                        <img class="media-object" src="images/shop/cart/cart-2.jpg" alt="image" />
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#!">Vestido com brilhantes</a></h4>
                                        <div class="cart-price">
                                        </div>
                                        <h5><strong>25.99€</strong></h5>
                                    </div>
                                    <a href="#!" class="remove"><i class="tf-ion-close"></i></a>
                                </div>
                                
                                / Cart Item -->
    
                                <div class="cart-summary">
                                    <span>Total</span>
                                    <span class="total-price">0.00€</span>
                                </div>
                                <ul class="text-center cart-buttons">
                                    <li><a href="{% url 'carrinho' %}" class="btn btn-small">Ver carrinho</a></li>
                                    <li><a href="{% url 'mPagamento' %}" class="btn btn-small btn-solid-border">Comprar</a></li>
                                </ul>
                            </div>
    
                        </li><!-- / Cart -->

    
                        <!-- Languages -->
                        <li class="commonSelect list-inline-item">
                            <select class="form-control">
                                <option>PT</option>
                                <option>EN</option>
                                <option>FR</option>
                                <option>ES</option>
                            </select>
                        </li><!-- / Languages -->
    
                    </ul><!-- / .nav .navbar-nav .navbar-right -->
                </div>
            </div>
        </div>
    </section><!-- End Top Header Bar -->