    <!-- Start Top Header Bar -->
    {% load auth_extras %}

    <section class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-1">

                    <div class="col-xs-12" style="height:10px;"></div>

                    <div class="col-md-1">
                        <a href="{% url 'index' %}">
                            <!-- replace logo here -->
                            <svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
                                    font-family="AustinBold, Austin" font-weight="bold">
                                    <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                                        <text id="LOJA10">
                                            <tspan x="108.94" y="325">LOJA10</tspan>
                                        </text>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>

                </div>


                <div class="col-md-4 offset-md-2">
                    <!-- Site Logo -->
                    <div class="logo text-center">
                        <form method="POST" action="{% url 'search' %}">
                            {% csrf_token %}
                            <input type="search" class="form-control" type="search" name="searched" placeholder="Procura...">
                        </form>

                    </div>
                </div>
                <div class="col-md-5 col-xs-12 col-sm-4">
                    <!-- Cart -->
                    <ul class="top-menu text-end list-inline">
                        <div class="col-xs-12" style="height:10px;"></div>
                        <li class="list-inline-item">
                            {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="toggle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                                    <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                                  </svg>Sair</a>

                            {% else %}
                            <a href="{% url 'login' %}" class="toggle">
                                <i class="tf-ion-android-person"></i>Entrar</a>
                            {% endif %}

                        </li>
                        {% if request.user|has_group:"Supliers" %}
                        <li class="list-inline-item">
                        <a href="{% url 'adicionar_produto' %}" class="toggle">
                            <i class="tf-ion-ios-plus"></i>Adicionar Produto</a>
                        </li>
                        {% else %}
                        <li class="list-inline-item">
                            <a href="{% url 'carrinho' %}" class="toggle">
                                <i class="tf-ion-android-cart"></i>Carrinho</a>
                        </li><!-- / Cart -->
                        {% endif %}

                        <li class="list-inline-item">
                            {% if user.is_authenticated %}
                            <a href="{% url 'conta' %}" class="toggle">
                                <i class="tf-ion-android-person"></i>{{ user.username }}</a>
                            {% else %}
                            <a></a>
                            {% endif %}
                        </li>
                        {% if request.user|has_group:"Supliers" %}
                        <li class="list-inline-item">
                        <a href="{% url 'shop' %}" class="toggle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                              </svg> Loja</a>
                        </li>
                        {% endif %}

                                </ul>
                            </div>
                        </li>

                    </ul><!-- / .nav .navbar-nav .navbar-right -->
                </div>
            </div>
        </div>
    </section><!-- End Top Header Bar -->
