<div class="product-item col-md-3" style="margin:7px; border:2px solid grey;border-radius: 10px;background-color: rgb(143, 143, 143);">
    <div class="product-thumb">
        <img class="img-responsive" src="{{ product.file.url }}" alt="product-img" style="border-bottom: 1px solid grey;height: auto;object-fit: contain;" />
        <div class="preview-meta">
            <ul>
                <li>
                    <a href="{% url 'product' product.slug %}"><i class="tf-ion-ios-search-strong"></i></a>
                </li>
                <li>
                    <form action="{% url 'add_to_cart' product.slug %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="add-to-cart-button"><i class="tf-ion-android-cart"></i></button>
                    </form>

                </li>
            </ul>
          </div>
    </div>
    <span class="d-flex justify-content-center"><a href="{% url 'product' product.slug %}">{{ product.name }}</a></span>

    <span class="d-flex justify-content-center">{{ product.price }}€</span>
</div>


