<div class="product-item col-md-3" style="margin:7px; border:2px solid grey;border-radius: 10px;">
    <div class="product-thumb">
        <img class="img-responsive" src="/static/images/shop/products/product-2.jpg" alt="product-img" style="border-bottom: 1px solid grey;" />
        <div class="preview-meta">
            <ul>
                <li>
                    <a href="{% url 'product' product.slug %}"><i class="tf-ion-ios-search-strong"></i></a>
                </li>
                <li>
                    <a href="#!"><i class="tf-ion-android-cart"></i></a>
                </li>
            </ul>
          </div>
    </div>
    <span class="d-flex justify-content-center"><a href="{% url 'product' product.slug %}">{{ product.name }}</a></span>

    <p class="d-flex justify-content-center">{{ product.price }}€</p>
</div>


